#container {
  margin: 0 auto;
  width: 100%;
  background: #fff;
}

#header {
  background: #ccc;
  padding: 20px;
}

#header h1 {
  margin: 0;
}

#navigation {
  float: left;
  width: 100%;
  background: #333;
}

#navigation ul {
  margin: 0;
  padding: 0;
}

#navigation ul li {
  list-style-type: none;
  display: inline;
}

#navigation li a {
  display: block;
  float: left;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #fff;
}

#navigation li a:hover {
  background: #383;
}

#content-container {
  float: left;
  width: 100%;
  background: #FFF;
}

#content {
  clear: left;
  float: left;
  width: 60%;
  padding: 20px 0;
  margin: 0 0 0 4%;
  display: inline;
}

#content h2 {
  margin: 0;
}

#aside {
  float: right;
  width: 33%;
  padding: 20px 0;
  margin: 0 3% 0 0;
  display: inline;
}

#aside h3 {
  margin: 0;
}

#footer {
  clear: left;
  background: #ccc;
  text-align: right;
  padding: 20px;
  height: 1%;
}


@media print {
  #aside {
    float: none;
    display: block;
    margin-top: 0;
  }

  #header , #navigation , #footer {
    display: none;
  }

  img {
    width: 80%;
  };
}

@media screen and (min-width: 240px) and (max-width: 320px) {

  #aside {
    display: none;
  }

  #content {
    margin: 0;
    float: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #content h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  #content p {
    text-align: justify;
    font-size: 13px;
    margin: 10px;
  }

  #footer {
    text-align: center;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 12px;
  }

  #header {
    position: fixed;
    text-align: center;
    width: 100%;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #header h1 {
    font-size: 23px;
  }

  #navigation {
    width: 100%;
  }

  #navigation ul{
/*     align-items: stretch; */
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 66px;
    align-items: center;
  }

  #navigation li a {
    border: none;
    font-size: 12px;
  }

  body {
    padding: 0;
    margin: 0;
  }

  img {
    width: 90%;
  }
  
}