html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  margin: 15px;
  text-align: justify;
}

.main-content p {
  font-size: 18px;
}

.main-content h1 {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

body {
  background-color: lemonchiffon;
}

header p {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

footer {
  font-size: 12px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav ul li {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .aside-two li, .charpters, nav ul{
    font-size: 25px;
  }

  .main-content p {
    font-size: 30px;
  }

  .main-content h1 {
    font-size: 40px;
    margin-top: 40px;
    text-align: center;
  }

  body {
    background-color: rgb(236, 247, 189);
  }

  header p {
    font-size: 46px;
  }

  footer {
    font-size: 24px;
  }

}