@media screen and (min-width: 320px) and (max-width: 568px) {
  .centro {
    width: 100%;
  }

  .topo {
    background-color: yellow;
  }

  .topo h1 {
    color: #f00;
  }

  .colunas2 {
    float: none;
    background-color: red;
    margin-top: 5px;
  }
}
