fieldset {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 50%;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

input {
  height: 30px;
  margin-left: 10px;
  padding-left: 10px;
  width: 300px;
}