body {
  background-color: whitesmoke;
  box-sizing: border-box;
}

.add-card {
  align-items: center;
  background-color: rgb(221, 160, 47);
  display: flex;
  height: 30px;
  justify-content: center;
  width: 100%;
}

.link, .link:hover {
  color: white;
  text-decoration: none;
}

input, select {
  height: 30px;
}

textarea {
  height: 150px;
}

input, select, textarea {
  margin-bottom: 10px;
  width: 400px;
}

label {
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: 900;
}

.edit-movie {
  margin-top: 10px;
}

.favorite-marked {
  fill: rgb(211, 211, 40);
}

.favorite-unmarked, .favorite-marked {
  height: 30px;
  width: 30px;
}

.movie-form-board {
  align-items: center;
  background-color: #6997ac;
  color: white;
}

.movie-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-addMovie {
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding-top: 10px;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.movie-card-header {
  align-items: center;
  background-color: #343a40;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
}

.page-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 500;
}

.more-details {
  align-items: center;
  background-color: rgb(221, 160, 47);
  border-radius: 10px;
  display: flex;
  height: 10%;
  justify-content: center;
  text-align: center;
}

.button {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-left: 40px;
}

.button-form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.button-submit {
  background-color: rgb(221, 160, 47);
  color: white;
  font-size: 18px;
  font-weight: 700;
  width: 200px;
}

.button:hover, .button-submit:hover, .more-details:hover {
  background-color: rgb(167, 119, 32);
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  padding: 40px 30px;
}

/* OK */
.movie-card {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 400px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}

/* OK */
.movie-card-image {
  height: 30%;
  object-fit: cover;
  width: 100%;
}

/* OK */
.movie-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
  padding: 10px;
}

.movie-details {
  align-items: center;
  height: 750px;
  justify-content: center;
  width: 80%;
}

.buttons-movie-details {
  align-items: center;
  background-color: rgb(221, 160, 47);
  display: flex;
  height: 30px;
  justify-content: center;
  width: 100%;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  height: 90px;
  overflow: hidden;
  padding: 10px;
  text-align: justify;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  height: 50px;
  justify-content: space-between;
}

.titles {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 20%;
  justify-content: center;
  margin-top: 5px;
}

.rating {
  align-items: center;
  background-color: #007bff;
  color: white;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100px;
}
